<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arrking.mobay" version="0.0.1" ios-CFBundleVersion="201411010930" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>moBay</name>
    <description>
      Project to show real time matrix for Cafe, Bar, Salon, etc.
    </description>
    <author email="mobay-info@qq.com" href="http://hwcafe.mybluemix.net">
      Hai Liang Wang, Jian Fei Zhao, Kang Xin Yang
    </author>
    <!-- LOG LEVEL FOR NATIVE CODE -->
    <log level="WARN"/>
    <content src="home.html" />
    <access origin="*" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" /> 
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <!-- http://stackoverflow.com/questions/21896014/phonegap-3-3-hidekeyboardformaccessorybar-not-working -->
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <feature name="Keyboard">
        <param name="ios-package" value="CDVKeyboard" onload="true" />
    </feature>
    <!-- ******************************************************* -->
    <!--                  moBay config start                 -->
    <!-- ******************************************************* -->
    <mobay name="host" value="mobay.mybluemix.net" />
    <mobay name="ssehost" value="mobaysse.mybluemix.net" />
    <mobay name="path" value="/mobile/auth/linkedin" />
    <mobay name="pushAppId" value="cd16f387-608a-47fa-839e-1d0fd9a859d9" />
    <mobay name="pushAppRoute" value="mobay.mybluemix.net" />
    <mobay name="pushAppSecret" value="0870db1e3946355b335a042c2976679770772299" />
    <!-- console log level -->
    <!-- https://code.google.com/p/console-js/ -->
    <!-- "log"|"debug"|"info"|"warn"|"error"|on"|"off" -->
    <mobay name="console" value="warn" />
    <!-- enable/disable weinre debugging -->
    <mobay name="weinreDebug" value="false" />
    <!-- weinre server url -->
    <mobay name="weinreServer" value="http://192.168.9.232:9088/target/target-script-min.js#musa" />
    <!-- ******************************************************* -->
    <!--                  moBay config end                   -->
    <!-- ******************************************************* -->

</widget>
