<?xml version='1.0' encoding='utf-8'?>
<widget id="io.musa.snowball" version="0.0.20141022_1153" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Snowball</name>
    <description>
      Project to show real time matrix in Hello World Cafe.
    </description>
    <author email="hailiang.hl.wang@gmail.com" href="http://helloworld-cafe.com">
      Hai Liang Wang, Jian Fei Zhao
    </author>
    <log level="WARN"/>
    <content src="home.html" />
    <access origin="*" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="StatusBarOverlaysWebView" value="true" /> 
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <!-- ******************************************************* -->
    <!--                  snowball config start                 -->
    <!-- ******************************************************* -->
    <snowball name="host" value="hwcafe.mybluemix.net" />
    <snowball name="ssehost" value="hwcafesse.mybluemix.net" />
    <snowball name="path" value="/mobile/auth/linkedin" />
    <snowball name="pushAppId" value="a87432fd-2d2e-43d4-91c9-0832af4d4aec" />
    <snowball name="pushAppRoute" value="hwcafe.mybluemix.net" />
    <snowball name="pushAppSecret" value="049180170bdc55b6428f65f96f80518b37296000" />
    <!-- console log level [debug|]-->
    <!-- https://code.google.com/p/console-js/ -->
    <snowball name="console" value="debug" />
    <!-- enable/disable weinre debugging <"log"|"debug"|"info"|"warn"|"error"> <"on"|"off">-->
    <snowball name="weinreDebug" value="true" />
    <!-- weinre server url -->
    <snowball name="weinreServer" value="http://192.168.2.100:9088/target/target-script-min.js#musa" />
    <!-- ******************************************************* -->
    <!--                  snowball config end                   -->
    <!-- ******************************************************* -->

</widget>
