<?xml version='1.0' encoding='utf-8'?>
<widget id="io.musa.snowball" version="0.0.20140906_1334" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Snowball</name>
    <description>
      Project to show real time matrix in Hello World Cafe.
    </description>
    <author email="hailiang.hl.wang@gmail.com" href="http://helloworld-cafe.com">
      Hai Liang Wang
    </author>
    <content src="home.html" />
    <access origin="*" />
    <preference name="AutoHideSplashScreen" value="false" />
</widget>
