#map { 
  position:absolute; 
  top:70px; bottom:0; 
  width:100%;
}
#home-swiper-header .swiper-container {
  height: 70px;
  width: 640px;
}

#home-swiper-header .header-swiper-title {
  text-align: left;
  padding-left: 30px;
  font-size: 15px;
  margin-bottom: 10px;
}
#home-swiper-header .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
#home-swiper-header .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
#home-swiper-header .swiper-active-switch {
  background: #fff;
}
/* notifications */

#notifications .header{
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
}

#notifications .header .title{
  padding-top:30px;
  text-align: left;
  padding-left: 30px;
  font-size: 25px;
}

#notifications {
  padding: 0px!important;
}

#notifications.ui-content{
  /* .ui-content makes a padding 1em in the view, fix it by marking !important */
  padding: 0px!important;
  top:70px;
  height: 366px!important;
} 

#notifications .swiper{
  width:100%; 
  height:100%;
  padding:0px; 
  margin:0px;
}

#notifications .header a.ui-btn{
  border: none !important;
  top:25px;
  left:30px; 
}

/*  user profile, status, settings */
#user-index .header{
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
}

#user-index .header .title{
  padding-top:30px;
  text-align: left;
  padding-left: 30px;
  font-size: 25px;
}

#user-index svg {
  height:0;
}

#user-index .content.ui-content {
  background-image:url('../img/user-background.png')  !important;
  background-repeat: no-repeat;
  width:100%;
  height:362px;
}

#user-index .content .blurContainer {
  position:fixed;
  width:300px;
  height:80px;
  top: 50%;
  left: 50%;
  margin:-150px 0 0 -150px;
  border-radius:120px;
  box-shadow:inset 0px 1px 0px 0px #fff, inset 0px -1px 2px 0px #000, 0 5px 8px rgba(0, 0, 0, .8), 0 0px 0px 1px rgba(0, 0, 0, .3);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  z-index:2;
}
#user-index .content .blurry {
  position:fixed;
  z-index:1;
  width:300px;
  height:300px;
  top: 60%;
  left: 50%;
  margin:-150px 0 0 -150px;
  border-radius:120px;
  background:-moz-element(#main) no-repeat fixed;
  /*background-size:118%; /* You may use zoom for extra realism */
  filter:url(#f1);
  color:#fff;
  font-weight:bold;
}

#user-index .content .blurContainer h1 {
  font:small-caps bold 17px Times New Roman;
  text-transform:capitalize;
  text-align:left;
  color:yellow;
  padding:20px 0 0 30px;
  display:block;
  height:50%;
  border-radius:60px 60px 10px 10px;
  text-shadow:0 1px 0px rgba(255, 255, 255, .75);
  background-repeat: no-repeat;
  background-position: 80% 50%;
  background-size: 50px 50px;
}

#user-index .content .ui-body.profile-card {
  height:140px;
}
#user-index .content .ui-body.profile-card p {
  color: black;
  size: 15px;
}

#user-index .content.ui-content ul li {
  line-height: 36px;
}


#settings-index .ui-content{
  zoom: 0.7;
}

#about-app .guide {
  zoom: 0.8;
}