html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  height: 100%;
  background: #333;
  box-shadow: 0px 0px 100px #000 inset;
}
.preloader {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 0;
  color: #fff;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100%;
  opacity: 0;
  font-size: 25px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  background: rgba(0,0,0,0.1);
}
.preloader.visible {
  top: 0;
  opacity: 1;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
  
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide {
  height: 100px;
  width: 100%;
  line-height: 100px;
  opacity: 0.2;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.swiper-slide-visible {
  opacity: 1;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
}