#map { 
  position:absolute; 
  top:70px; bottom:0; 
  width:100%;
}
.swiper-container {
  height: 70px;
  width: 640px;
}

.header-swiper-title {
  text-align: left;
  padding-left: 30px;
  font-size: 25px;
  margin-bottom: 10px;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
