#map { 
  position:absolute; 
  top:70px; bottom:0; 
  width:100%;
}
#home-swiper-header .swiper-container {
  height: 70px;
  width: 640px;
}

#home-swiper-header .header-swiper-title {
  text-align: left;
  padding-left: 30px;
  font-size: 25px;
  margin-bottom: 10px;
}
#home-swiper-header .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
#home-swiper-header .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
#home-swiper-header .swiper-active-switch {
  background: #fff;
}
/* notifications */

#notifications.ui-content{
  /* .ui-content makes a padding 1em in the view, fix it by marking !important */
  padding: 0px!important;
  top:70px;
} 
#notifications .preloader {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 0;
  color: #fff;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100%;
  opacity: 0;
  font-size: 25px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  background: rgba(0,0,0,0.1);
}
#notifications .preloader.visible {
  top: 0;
  opacity: 1;
}
#notifications .swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
}

#notifications .swiper-wrapper {
  padding: 0px;
  margin: 0px;
}

#notifications .red-slide {
  background: #ca4040;
}
#notifications .blue-slide {
  background: #4390ee;
}
#notifications .orange-slide {
  background: #ff8604;
}
#notifications .green-slide {
  background: #49a430;
}
#notifications .pink-slide {
  background: #973e76;
}
#notifications .swiper-slide {
  height: 50px;
  width: 100%;
  line-height: 50px;
  opacity: 1;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
#notifications .swiper-slide-visible {
  opacity: 1;
}
#notifications .swiper-slide .title {
  font-style: italic;
  font-size: 16px;
}
