/*  login profile, status, settings */

#login-index {
  background-image:url('../img/login-background.jpg')  !important;
  background-repeat: no-repeat;
  width:100%;
}

.version {
    width: 100%;
    font-size: 0.5em;
    margin-left: 70%;
    padding-top: 20%;
    text-shadow: none;
    color: #1E5ABF;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}

#login-index .content.ui-content{
    padding-top: 80px!important;
    margin: 0px!important;
}

.local-login-form {
    position:relative;
    width:285px
}

.local-login-form input{
    width:285px;
}

#email-img {
    position:absolute;
    right:5px;
    top: 5px;
}

#password-img {
    position:absolute;
    right:5px;
    top:50px;
}
