#signup
{
    width: 100%;

    background: #f5f1f5;
}

#topbar
{
    margin: 0;

    border-bottom: 1px solid #fff;
    background: -webkit-linear-gradient(top, #69a,#9cd);
    box-shadow: 0 1px 2px #ccc;
}

#topbar h3
{
    line-height: 60px;

    margin: 0;
    padding: 10px 0 0;

    text-align: center;

    color: #fff;
    text-shadow: 1px 1px 1px #666;
}

.form-signup
{
    padding: 20px;
}

.form-signup .ui-input-text
{
    height: 40px;

    -webkit-transition: all .2s linear;
            transition: all .2s linear;

    color: #666;
    border: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.form-signup .ui-input-text input
{
    font-size: 18px;
    line-height: 28px;
}

.form-signup .ui-input-text .fa
{
    color: #aaa;
}

.form-signup .ui-input-text.ui-focus
{
    border-color: #999;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 1px #ccc;
}

.form-signup .ui-btn.ui-input-btn
{
    font-size: 20px;
    line-height: 20px;

    text-align: center;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    outline: none;
    background: -webkit-linear-gradient(top, #69a,#9cd);
    box-shadow: 0 0 1px #ccc;
    text-shadow: 1px 1px 1px #666;
}

#signupBtn
{
    text-indent: .5em;
    letter-spacing: 1em;
}

.form-signup .ui-btn.ui-input-btn:hover
{
    color: #fff;
    border-color: #fff;
    box-shadow: inset(0 0 1px #999);
}

.form-signup .ui-btn.ui-input-btn.ui-focus
{
    outline: none;
    box-shadow: none;
}

.form-signup .ui-input-text.ui-focus .fa
{
    color: #aaa;
}

.form-signup .ui-btn.ui-input-btn.ui-btn-active
{
    box-shadow: inset(0 0 1px #999);
}

.form-signup .ui-input-text.ui-input-error
{
    border-color: #f33;
    background-color: #fee;
}

.form-signup .ui-btn-disabled
{
    pointer-events: none;

    opacity: .6;
}

.form-signup .ui-input-text.ui-input-error .fa
{
    color: #f33;
}

.form-signup .ui-input-group label
{
    font-size: 20px;

    display: inline-block;

    box-sizing: border-box;
    width: 30px;
    padding-left: 10px;

    text-align: center;
}

.form-signup .ui-input-group input
{
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    margin-left: -36px;
    padding-left: 36px;
}